#audioVolDiv {
	position:fixed;
	top:50px;
	left:325px;
	z-index:2;
}

#audioProgDiv, #audioProgStyleDiv {
	position:fixed;
	top:100px;
	left:375px;
	z-index:1;
}

/*	These values have to be marked as !important to override the element styles
	From the jQuery knobs */
#audioVol {
	font-size:2em !important;
	position:relative !important;
	top:-255px;
	left:25px;
	height:35px !important;
	width:80px !important;
}

#audioProg {
	/* color:rgb(135,206,235) !important; */
	font-size:2em !important;
}

#controls {
	position:fixed;
	top:275px;
	left:350px;
	font-size:1.5em;
	z-index:1;
}
#controls div {
	display:inline-block;
	padding:5px;
	cursor:pointer;
}

#repeatButton img {
	position:relative;
	top:7px;
	width:30px;
	/* height:24px; */
}

#loadingDiv {
	display:none;
	position:fixed;
	top:110px;
	left:385px;
	z-index:1;
}

#loadingAnim {
	height:130px;
	width:130px;
}

#playlistControl {
	position:fixed;
	top:350px;
	left:50px;
	background-color:grey;
	height:50vh;
	width:800px;
	padding:7px 5px 5px 5px;
}

#audioInputDiv {
	width:fit-content;
	margin:0 auto;
}

#audioInput {
	display:inline-block;
	height:20px;
	width:770px;
	font-size:0.75em;
}

#audioInputBtn {
	display:inline-block;
	width:20px;
	height:20px;
	cursor:pointer;
}
#audioInputBtn i {
	position:relative;
	top:2px;
	left:3px;
}

#playlistView {
	height:46vh;
	width:100%;
	margin-top:5px;
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap:break-word;
}

#playlistCurrentPos {
	position:relative;
	top:0px;
	left:0px;
	height:0;
	width:0;
	text-align:center;
}

#playlistCurrent {
	position:absolute;
	top:0;
	left:-5px;
	height:20px;
	width:20px;
}

.playlistItem p {
	margin:5px 0;
}

.playlistBtnPos {
	position:relative;
	top:-5px;
	left:750px;
	height:0;
	width:0;
	text-align:center;
}

.playlistBtn {
	position:absolute;
	top:0;
	left:0;
	height:20px;
	width:20px;
	cursor:pointer;
}

/* Javascript classes */
.activeControl {
	background-color:grey;
}

.disabled {
	color:grey;
}
