// Variables

$audioPlayerWidth:100vw;
$audioProgLineHeight:5px;
$audioProgLineWidth:200px;
$playlistBgColor:grey;


// Mixins

@mixin position($type,$top,$left){
	position:$type;

	@if $top != "" {
		top:$top;
	}

	@if $left != "" {
		left:$left;
	}
}

// CSS

* {
	overflow:hidden;
}

body {
	background-color:black;
}

#audioPlayer {
	// 	@include position(fixed,"",0vw);
	margin:0 auto;
	width:$audioPlayerWidth;
}

#audioPos {
	@include position(relative,0,0);
	margin:11vh auto;
	width:fit-content;
}

#audioKnobs {
	// 	@include position(absolute,"","");
}

#audioVolDiv {
	// 	@include position(absolute,50px,325px);
	// 	z-index:2;
	@include position(relative,"","");
	z-index:20;
}
#audioVol {
	/* Values marked as !important to override jQuery knob inline styles */
	// 	font-size:2em !important;
	// 	top:-120px;
	// 	left:272.5px;
	// 	height:35px !important;
	// 	width:80px !important;
	font-size:3em !important;
}

#audioProgDiv, #audioProgStyleDiv {
	// 	@include position(absolute,100px,375px);
	// 	z-index:1;
	display:none;
}
#audioProg {
	// 	/* color:rgb(135,206,235) !important; */
	// 	font-size:2em !important;
}

#audioProgLinePos {
	@include position(absolute,200px,200px);
	height:$audioProgLineHeight * 3;
}
#audioProgLineDiv {
	@include position(relative,4.4px,0);
	height:$audioProgLineHeight;
	width:$audioProgLineWidth;
	background-color:grey;
	border-radius:5px;
	z-index:30;
}
#audioProgLine {
	@include position(relative,0,0);
	background-color:blue;
	width:0px;
	max-width:$audioProgLineWidth;
	height:$audioProgLineHeight;
	z-index:31;
}
#audioProgDot {
	@include position(absolute,0,0);
	width:15px;
	height:15px;
	background-color:white;
	border-radius:100px;
	z-index:32;
}

#loadingDiv {
	// @include position(absolute,50%,385px);
	display:none;
	// 	z-index:1;
	@include position(absolute,200px,200px);
}
#loadingAnim {
	// 	height:130px;
	// 	width:130px;
}

#audioVisualizer {
	// 	@include position(absolute,10px,380px);
	// 	display:none;
	// 	width:480px;
	// 	height:325px;
	// 	background-color:black;
	// @include position(relative,-560px,40px);
	display:block;
	// width:520px;
	// height:520px;
	// background-color:white;
	z-index:10;
	@include position(absolute,374px,141px);
	width:319px;
	height:181px;

	div {
		// width:10px;
		// height:50px;
		background-color:red;
		position:absolute;
		bottom:0;
		transition:0.1s all linear;
	}
}

#controls {
	// 	@include position(absolute,275px,345px);
	// 	font-size:1.5em;
	// 	z-index:1;
	@include position(absolute,150px,190px);
	font-size:2em;
	z-index:30;

	div {
		display:inline-block;
		padding:5px;
		cursor:pointer;
		// 	position:absolute;
		color:#646464;
	}
}

#repeatButton {
	// /* top:-8px; */

	img {
	// 	position:relative;
	// 	/* top:7px; */
		width:30px;
	// 	/* height:24px; */
	}
}

#backButton {
	// 	left:45px;
}

#playButton {
	// 	left:85px;
}

#pauseButton {
	// 	left:125px;
}

#skipButton {
	// 	left:165px;
}

#playlistControl {
	// @include position(absolute,350px,50vw);
	// background-color:grey;
	// 	height:50vh;
	// 	width:800px;
	padding:12px 10px 10px 10px;
	@include position(relative,"","");
	bottom:110px;
	margin:0 auto;
	width:750px;
	height:310px;
	background-color:$playlistBgColor;
	border-radius:10px;
	z-index:40;
}
#playlistGradientT {
	@include position(absolute,0,0);
	width:100%;
	height:10px;
	background: linear-gradient(to bottom, black 0%, grey 100%);
	z-index:41;
}
#playlistGradientR {
	@include position(absolute,0,"");
	right:0;
	width:10px;
	height:100%;
	background: linear-gradient(to left, black 0%, grey 100%);
	z-index:41;
}
#playlistGradientL {
	@include position(absolute,0,0);
	width:10px;
	height:100%;
	background: linear-gradient(to right, black 0%, grey 100%);
	z-index:41;
}
#playlistGradientTL {
	@include position(absolute,0,0);
	width:10px;
	height:10px;
	background: linear-gradient(135deg, black 50%, grey 100%);
	z-index:42;
}
#playlistGradientTR {
	@include position(absolute,0,"");
	right:0;
	width:10px;
	height:10px;
	background: linear-gradient(225deg, black 50%, grey 100%);
	z-index:42;
}
#audioInputDiv {
	width:fit-content;
	margin:0 auto;
}
#audioInput {
	display:inline-block;
	height:20px;
	width:700px;
	font-size:0.75em;
}
#audioInputIcoPos {
	@include position(relative,5px,"");
	display:inline-block;
}
#audioInputBtn {
	width:20px;
	height:20px;
	cursor:pointer;

	i {
		position:relative;
		top:2px;
		left:3px;
	}
}

#playlistView {
	// 	height:46vh;
	// 	width:100%;
	// 	margin-top:5px;
	// 	overflow-y:auto;
	// 	overflow-x:hidden;
	// 	word-wrap:break-word;
}

#playlistCurrentPos {
	// 	position:relative;
	// 	top:0px;
	// 	left:0px;
	// 	height:0;
	// 	width:0;
	// 	text-align:center;
}
#playlistCurrent {
	// 	position:absolute;
	// 	top:0;
	// 	left:-5px;
	// 	height:20px;
	// 	width:20px;
}

.playlistItem {
	// 	border-left:3px solid white;
	// 	padding-left:5px;

	p {
		// 	margin:5px 0;
	}
}

.playlistBtnPos {
	// 	position:relative;
	// 	top:-5px;
	// 	left:750px;
	// 	height:0;
	// 	width:0;
	// 	text-align:center;
}
.playlistBtn {
	// 	position:absolute;
	// 	top:0;
	// 	left:0;
	// 	height:20px;
	// 	width:20px;
	// 	cursor:pointer;
}

/* Javascript classes */
.activeControl {
	// 	background-color:grey;
	color:#c8c8c8 !important;
}

.disabled {
	// 	color:grey;
}

// @media screen and (min-width:225px){
// 	#audioPlayer {
// 		left:4vw;
// 	}
// }
//
// @media screen and (min-width:1050px){
// 	#audioPlayer {
// 		left:8vw;
// 	}
// }
//
// @media screen and (min-width:1300px){
// 	#audioPlayer {
// 		left:15vw;
// 	}
// }
//
// @media screen and (min-width:1500px){
// 	#audioPlayer {
// 		left:20vw;
// 	}
// }
//
// @media screen and (min-width:1800px){
// 	#audioPlayer {
// 		left:25vw;
// 	}
// }
//
// @media screen and (min-width:2300px){
// 	#audioPlayer {
// 		left:35vw;
// 	}
// }
//
// @media screen and (min-width:5000px){
// 	#audioPlayer {
// 		left:42.5vw;
// 	}
// }
